

.subscr{
    background: #ffd7c9;
}
.subscr-dark{
    background: #641900 !important;
    color: white !important;
}
.placeholder-dark::placeholder {
    color: white !important;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.sub-form{
    background-color: white;
    box-sizing: border-box;
    width: 17rem;

}
.sub-form input[type="submit"] {
    background-color: orangered;
    border: none;
}
.sub-form input[type="email"] {
    border: none;
    width: auto;
}