

.header{
    background-color: #E3F1FF;
}

.heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.header-dark {
    background-color: rgb(0, 0, 82) !important;
    color: white;
}