@media (max-width: 770px) {
  .rev {
    flex-direction: row-reverse;
  }
  
}

/* seachbox */
.search-box {
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  margin-top: 8px;
  border: 1px solid orange;
  border-radius: 20px;
  display: flex;
}

.dark-mode {
  background-color: #0b0b0c !important;
  color: whitesmoke !important;
}

.dark-mode::placeholder{
  color: whitesmoke !important;
}

.search-box input {
  border: none;
  border-radius: 20px;
  margin: 5px;
  background-color: transparent;
}
.search-box button {
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.search-box input:focus {
  outline: none; /* Remove the default focus outline */
  border: none; /* Remove any border */
}

/* switch theme */

.checkbox-wrapper-54 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-54 .switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

/* The slider */
.checkbox-wrapper-54 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

.checkbox-wrapper-54 input:checked + .slider {
  background-color: #303136;
}

.checkbox-wrapper-54 input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
