 @media (max-width: 768px) {
    .rev {
        flex-direction: row-reverse;
    }
  }


  /* seachbox */
  .search-box {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-top: 8px;
    border: 1px solid orange;
    border-radius: 20px;
  }

  .search-box input{
    border: none;
    border-radius: 20px;
    margin: 5px;
  }
  .search-box button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
  }
  

  .search-box input:focus {
    outline: none; /* Remove the default focus outline */
    border: none; /* Remove any border */
  }


  /* switch theme */


