

.footer {
    background-color: #e8e8e8;
}

.footer-dark {
    background-color: #3a3a3a !important;
    color: white !important;
}

.footer ul{
    list-style: none;
    padding-left: 0px;
    color: grey !important;
}

footer li{
    text-decoration: none;
    /* color: grey; */
}

footer a{
    text-decoration: none;
    color: grey !important;
}


.link{
    color: rgb(161, 159, 159);
}